@media screen and (max-width: 767px) {
	.header {
		background-color: white;
		
		&-burger {
			display: block;
		}
		
		&-navbar {
			background-color: white;
			height: calc(100vh - 100px);
			left: 0;
			opacity: 0;
			position: fixed;
			top: 100px;
			visibility: hidden;
			width: 100vw;
			transition: all 0.5s ease 0s;
			z-index: 100;
		}
		
		&-list {
			display: block;
			text-align: center;
			margin: 5vh 0 0 0;
		}
		
		&-list + &-list {
			margin-left: 0;
		}
		
		&-link,
		&-link:active {
			font-size: 30px;
			text-align: center;
		}
		
		.active {
			opacity: 1;
			transition: all 0.5s ease 0s;
			visibility: visible;
		}
		
		.rotate {
			transform: rotate(90deg);
			transition: transform 0.5s ease 0s;
		}
	}
	
	.wrapper {
		overflow: hidden;
		position: fixed;
	}
}
